<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <title>404 Not Found</title>
  </head>
  <body>
    <main class="main-content">
      <div class="404-content">
        <h1>Oops! Something went wrong</h1>
        <p>404 Page Not Found</p>
      </div>
      <div>
        <a href="./index.html">Back to Homepage</a>
      </div>
    </main>
  </body>
</html>
