<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="header-content">
          <h1><a href="/">Alien from Mars</a></h1>
          <p>My story</p>
        </div>
        <div class="header-nav">
          <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-me">Contact Me</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main-content">
      <section>
        <h2>My Story!</h2>
        <p>
          I was born on a planet called Mars in the year 432 BC. My parents, who
          were both scientists, decided to send me to Earth to study and
          retrieve knowledge. I learned about the Earthling environment, the
          ravages of the solar wind, and the possibility of other life forms on
          this blue, brown and green planet.
        </p>
        <p>
          After a few years, I returned to Mars to share my findings with my
          friends and family. They were intrigued by my discoveries and decided
          to send me back to Earth to learn more. For many years I was in
          hiding, but now I've decided to expose myself and the secrets of the
          Martians.
        </p>
        <p>
          I believe in sharing knowledge and making the cosmos a better place.
        </p>
      </section>
    </main>
    <footer class="footer-content">
      <p>&copy; 2025 Alien from Mars</p>
    </footer>
  </body>
</html>
