<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="header-content">
          <h1><a href="/">Alien from Mars</a></h1>
          <p>My story</p>
        </div>
        <div class="header-nav">
          <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-me">Contact Me</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="main-content">
      <section>
        <h2>Contact me!</h2>
        <p>
          Don't be afraid to reach out to me. I'd be happy to connect with you!
        </p>
        <p>Send me an email on: alien.from.mars@cosmos.com</p>
      </section>
    </main>
    <footer class="footer-content">
      <p>&copy; 2025 Alien from Mars</p>
    </footer>
  </body>
</html>
